<mat-card class="example-card centered-form">
   <mat-card-header>
      <mat-card-title>Organograma</mat-card-title>
  </mat-card-header>
  <mat-card-content class="form-container">
    <div class="container">
      <div class="button-group" *ngIf="!condition">
        <button mat-raised-button class="action-button" (click)="abrirForm()">Criar</button>
        <button mat-raised-button class="action-button" (click)="abrirArvore()">Visualizar</button>
      </div>
    </div>
    <!-- <div class="container" *ngIf="isAbrirArvore"><tree-nested-overview-example></tree-nested-overview-example></div> -->
    <div class="container" *ngIf="isAbrirArvore"><app-tree-organograma></app-tree-organograma></div>
    <div class="container" *ngIf="isAbrirForm"><app-formulario-organograma></app-formulario-organograma></div>
  </mat-card-content>
</mat-card> 







