<mat-card class="example-card centered-form">
    <mat-card-header>
        <mat-card-title>Empresa</mat-card-title>
    </mat-card-header>
    <mat-card-content class="form-container">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <mat-label>Nome:</mat-label>
            <mat-form-field class="example-full-width">
            <input matInput placeholder="Nome" formControlName="nome">
            <mat-error *ngIf="form.get('nome')!.hasError('required')">
                Nome is required
            </mat-error>
            </mat-form-field>
            <mat-label>Descrição:</mat-label>
            <mat-form-field class="example-full-width">
            <input matInput placeholder="Descrição" formControlName="descricao">
            <mat-error *ngIf="form.get('descricao')!.hasError('required')">
                Descrição is required
            </mat-error>
            </mat-form-field>
            <div class="container">
                <button mat-raised-button color="primary">Submit</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>